<!-- start module blocks -->
<div class="<{$block.mydirname}>itemSide" style="border:0px ;">
<div class="item" style="border:0px ;">
<div class="itemBody">
<{* if $block.categories}>[<{$block.categories}>]<br /><{/if *}>
<{* if $block.tags}>[<{$block.tags}>]<br /><{/if *}>
<ul class="<{$block.mydirname}>yd_rightarea">
<{foreach from=$block.yd_list item=entry}>
<li>
	<{if $entry.other==1}>
	<img src="<{$xoops_url}>/modules/<{$block.mydirname}>/images/door_out.gif" border=0 style="vertical-align:middle;" /> 
	<a href="<{$entry.url}>" target="_blank"><{$entry.title}></a>
	<{else}>
	<a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?page=detail&amp;bid=<{$entry.bid}>&amp;req_uid=<{$block.yd_uid}>"><{$entry.title}></a>
	<{/if}> 
	<{if $block.yd_uid==0}><{if $block.mod_config.use_name==1 && $entry.name}><{$entry.name}>
	<{else}><{$entry.uname}>
	<{/if}></a><{/if}>
	<{if $entry.cname|count_characters>0 && $block.show_category}><{if $block.yd_uid==0 && $entry.cid>10000}>[<a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?page=diarylist&amp;mode=category&amp;cid=<{$entry.cid}>"><{$entry.cname}></a>]
	<{else}>[<a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?mode=category&amp;cid=<{$entry.cid}>&amp;req_uid=<{$entry.uid}>"><{$entry.cname}></a>]
	<{/if}><{/if}>
	[<{$entry.tstamp|formatTimestamp:"m-d H:i"}>]</li>
<{/foreach}>
</ul>
</div><!-- /itemBody -->
<div class="itemFoot">
<img src="<{$xoops_url}>/modules/<{$block.mydirname}>/images/arrow1.png" border=0 style="vertical-align:middle;" /> <a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?req_uid=<{$block.yd_uid}>"><{$block.lang.more}></a>
</div><!-- /itemFoot -->
</div><!-- /item -->
</div><!-- /itemSide -->
