<!-- start module blocks -->
<div class="<{$block.mydirname}>itemSide" style="border:0px ;">
<div class="item" style="border:0px ;">

<div class="itemInfo" style="text-align:left;">
<{if $block.yd_uid>0}><a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?req_uid=<{$block.yd_uid}>">
<{if $block.mod_config.use_name==1 && $block.yd_name}><{$block.yd_name}>
	<{else}><{$block.yd_uname}>
	<{/if}><{$block.lang.person}></a><{/if}>
	[<{$block.lang.order}>]
</div><!-- /itemInfo -->

<{if $block.entry.0.pid|count_characters>0}>
<div class="itemBody">
<div class="<{$block.mydirname}>PhotoBox">
	<{foreach from=$block.entry key="num" item="entry" name="list"}>
   		<{if $block.entry|@count==1}>
   		 <div class="<{$block.mydirname}>d3dPhotoCenter">
   		<{else}>
   		 <div class="<{$block.mydirname}>d3dPhotoLeft">
   		<{/if}>
		<a href="<{$xoops_url}>/modules/<{$block.mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<{if $block.maxsize == 0}>
		<img src="<{$xoops_url}>/modules/<{$block.mydirname}>/upimg/<{$entry.thumbnail}>" />
		<{else}>
		<img src="<{$xoops_url}>/modules/<{$block.mydirname}>/include/imgresize.php?maxsize=<{$block.maxsize}>&amp;fname=modules/<{$block.mydirname}>/upimg/<{$entry.pname}>" />
		<{/if}></a>
	  	<{if $block.yd_uid<=0}><br /><a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?req_uid=<{$entry.uid}>">
	  	<{if $block.mod_config.use_name==1 && $entry.name}><{$entry.name}>
	  	<{else}><{$entry.uname}>
	  	<{/if}></a><{/if}>
	  	<{if $block.show_entrylink}><br /><a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?page=detail&amp;bid=<{$entry.bid}>"><{$entry.title}></a><{/if}>
	  	<{if $block.show_pinfo}><br /><{$entry.info}><{/if}>
	  	</div>
		<{if in_array($num,$block.clear_num) }><div class="<{$block.mydirname}>clear"></div><{/if}>
	<{/foreach}>
<div class="<{$block.mydirname}>clear"></div>
</div><!-- /PhotoBox -->
</div><!-- /itemBody -->
<{if $block.photonavi}>
<div class="itemInfo" style="text-align:center;">
<{$block.photonavi}>
</div><!-- /itemInfo -->
<{/if}>
<{* <div class="itemFoot">
<div style="text-align: right;"><a href="<{$xoops_url}>/modules/<{$block.mydirname}>/index.php?page=photolist"><{$block.lang.more}></a></div></div><!-- /itemFoot --> *}>
<{/if}>
</div><!-- /item -->
</div><!-- /itemSide -->