<!-- start module contents -->
<{if $mod_config.show_breadcrumbs}>
<div id="d3d_breadcrumbs">
	<a href="<{$xoops_url}>/">TOP</a>
	<{foreach from=$xoops_breadcrumbs key="i" item="item"}>
	    <{* if $i!=0 *}>
		&nbsp;>&nbsp;
		<{if $item.url}>
			<a href="<{$item.url}>"><{$item.name}></a>
		<{else}>
			<{$item.name}>
		<{/if}>
	    <{* /if *}>
	<{/foreach}>
</div>
<{/if}>
	<p><a href="<{$xoops_url}>/userinfo.php?uid=<{$yd_uid}>">
	<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
	<{else}><{$yd_uname}>
	<{/if}></a><{$smarty.const._MD_DIARY_PERSON}></p>

<div id="d3dWrap">
<div class="clear"></div> 

<{if $yd_layout=="left"}>
  <div id="d3dMainRight">
  <div id="d3dMainBodyRight">
<{elseif $yd_layout=="right"}>
  <div id="d3dMainLeft">
  <div id="d3dMainBodyLeft">
<{else}>
  <div id="d3dMainNoside">
  <div id="d3dMainBodyNoside">
<{/if}>

<{if $yd_cname}>
<div class="itemHead">
<{$smarty.const._MD_CATEGORY}>:<{$yd_cname}>
</div><!-- /itemInfo -->
<{/if}>

<div class="itemInfo" style="text-align:left;">
<{$smarty.const._MD_LIST_OTHER}><img src="images/open<{$yd_openarea}>.gif" border=0 style="float:right;"/><br />
<{$smarty.const._MD_OTHER_DESC}><br />

</div><!-- /itemInfo -->


<{if $yd_data[0].year>0}>
<{section name=num loop=$yd_data}>

<div class="boxdate_base">
<span class="boxdate_s">
<div class="itemHead"><span class="itemText"><{$yd_data[num].b_month}></span></div>
<div class="itemInfo"><span class="<{$yd_data[num].dclass}>"><{$yd_data[num].day}><{* $smarty.const._MD_DATE_DAY *}></span>
<span class="<{$yd_data[num].wclass}>">(<{$yd_data[num].week}>)</span></div>
</span>
</div><!-- /boxdate_base -->

<div class="itemList">
<div class="item">

<div class="itemHead">
<span class="itemTitle">
<img src="images/pencil.gif" border=0 />
<a href="<{$yd_data[num].link}>" target="_blank"><{$yd_data[num].title}></a>
</span>
</div><!-- /itemHead -->

<div class="itemBody">
<div class="itemText">
<{$yd_data[num].diary}>
</div> <!--end itemText -->
</div> <!--end itemBody -->

</div> <!--end item -->
</div> <!--end itemList -->

<div class="clear"></div>
<{/section}>
<{else}>

<{$smarty.const._MD_NOENTRY}>

<{/if}>

<{if $yd_owner==1}>
<div class="itemInfo">
<{if $yd_cname}>
  <a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=editcat_config&amp;cid=<{$yd_cid}>">
  <img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 />
  <{$smarty.const._MD_CAT_CONF}>
  </a>
<{else}>
  <a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=usr_config">
  <img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 />
  <{$smarty.const._MD_CONF_LINK}>
  </a>
<{/if}>
</div><!-- /itemInfo -->
<{/if}>

</div>
</div>

<{if $yd_layout=="left"}>
  <div id="d3dSideLeft">
  <{include file="db:`$mydirname`_rightarea.html"}>
  </div><!-- /d3dSidexxxx --> 
<{elseif $yd_layout=="right"}>
  <div id="d3dSideRight">
  <{include file="db:`$mydirname`_rightarea.html"}>
  </div><!-- /d3dSidexxxx --> 
<{/if}>

</div><!-- /d3dWrap --> 
<div class="clear"></div>

<{include file='db:system_notification_select.html'}>

<{if $debug_time}>
 <{foreach from=$debug_time item="debug"}>
	<{$debug.time}>:<{$debug.caller}><br />
 <{/foreach}>
<{/if}>
