<!-- start module contents -->
<{if $mod_config.show_breadcrumbs}>
<div id="d3d_breadcrumbs">
	<a href="<{$xoops_url}>/">TOP</a>
	<{foreach from=$xoops_breadcrumbs key="i" item="item"}>
	    <{* if $i!=0 *}>
		&nbsp;>&nbsp;
		<{if $item.url}>
			<a href="<{$item.url}>"><{$item.name}></a>
		<{else}>
			<{$item.name}>
		<{/if}>
	    <{* /if *}>
	<{/foreach}>
</div>
<{/if}>

<{if $yd_uid>0}><br /><a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>">
<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
<{else}><{$yd_uname}>
<{/if}></a><{$smarty.const._MD_DIARY_PERSON}></p>

<div id="d3dWrap">
<{if $yd_layout=="left"}>
<div id="d3dMainRight">
<div id="d3dMainBodyRight">
<{elseif $yd_layout=="right"}>
<div id="d3dMainLeft">
<div id="d3dMainBodyLeft">
<{else}>
<div id="d3dMainNoside">
<div id="d3dMainBodyNoside">
<{/if}>

<{/if}>

<{if $yd_pagenavi}>
<div class="boxNavi" style="text-align:center;">
<{$lang_datanum}><br /><br />
<ul class="itemBody">
<{foreach from=$yd_pagenavi item=nav_}>
<li class=<{$nav_.class}>><span>
<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
<{else}>
<{$nav_.txt}>
<{/if}>
</span></li>
<{/foreach}>
</ul><!-- /itemIBody -->
</div><!-- /boxNavi -->
<{/if}>

<div class="item" style="border:0px ;">
<div class="itemInfo" style="text-align:center;">

<{if $yd_uid>0}><img src="<{$xoops_url}>/modules/<{$mydirname}>/images/open<{$yd_openarea}>.gif" border=0 style="float:right;"/><{/if}>
<a href="<{$url4ex_ph}>" title="<{$smarty.const._MD_NEWDIARY}>" class="d3dlinkEntry" style="float:left;" ></a>
<span class="d3dlinkImage"" style="float:left;" /></span>

<div style="text-align:left;">
<{if $yd_param.friend==1}><span class="d3dQueryInfo"><a href="<{$url4ex_fr}>" class="d3dTurnoff" title="<{$smarty.const._MD_QUERYOFF}>"><{$smarty.const._MD_DIARY_FRIENDSVIEW}></a></span><{/if}>
<{if $yd_day>0}><span class="d3dQueryInfo"><a href="<{$url4ex_date}>" class="d3dTurnoff" title="<{$smarty.const._MD_QUERYOFF}>">[<{$yd_year}>-<{$yd_month}>-<{$yd_day}>]</a></span>
<{elseif $yd_month>0}><span class="d3dQueryInfo"><a href="<{$url4ex_date}>" class="d3dTurnoff" title="<{$smarty.const._MD_QUERYOFF}>">[<{$yd_year}>-<{$yd_month}>]</a></span><{/if}>
<{if $yd_param.mode=="category"}><span class="d3dQueryInfo"><a href="<{$url4ex_cat}>" class="d3dTurnoff" title="<{$smarty.const._MD_QUERYOFF}>"><{$smarty.const._MD_CATEGORY}>&nbsp;[<{$yd_param.cname}>]</a></span><{/if}>
<{if $yd_param.tag}><span class="d3dQueryInfo"><a href="<{$url4ex_tag}>" class="d3dTurnoff" title="<{$smarty.const._MD_QUERYOFF}>"><{$smarty.const._MD_TAG}>&nbsp;[<{$yd_param.tag}>]</a></span><{/if}>
</div>

<div class="clear"></div>

[<{$smarty.const._MD_DIARY_DATE}><a href="<{$sort_baseurl}>&amp;odr=time_dsc" class="<{$style_s.time_dsc}>" title="<{$smarty.const._MD_DSC}>"><span>&nbsp;</span></a> <a href="<{$sort_baseurl}>&amp;odr=time_asc" class="<{$style_s.time_asc}>" title="<{$smarty.const._MD_ASC}>"><span>&nbsp;</span></a>]
[<{$smarty.const._MD_DIARY_TITLE}><a href="<{$sort_baseurl}>&amp;odr=title_dsc" class="<{$style_s.title_dsc}>" title="<{$smarty.const._MD_DSC}>"><span>&nbsp;</span></a> <a href="<{$sort_baseurl}>&amp;odr=title_asc" class="<{$style_s.title_asc}>" title="<{$smarty.const._MD_ASC}>"><span>&nbsp;</span></a>]
[<{$smarty.const._MD_PAGE_ACCESS}><a href="<{$sort_baseurl}>&amp;odr=hit_dsc" class="<{$style_s.hit_dsc}>" title="<{$smarty.const._MD_DSC}>"><span>&nbsp;</span></a> <a href="<{$sort_baseurl}>&amp;odr=hit_asc" class="<{$style_s.hit_asc}>" title="<{$smarty.const._MD_ASC}>"><span>&nbsp;</span></a>]

</div><!-- /itemInfo -->
</div><!-- /item -->

<{if $yd_photolist.0.pid|count_characters>0}>
<{if $yd_editperm}>
<form name="MainForm" method="post" action="index.php?page=photolist<{if $yd_uid>0}>&amp;req_uid=<{$yd_uid}><{/if}><{if $smarty.get.phofst}>&amp;phofst=<{$smarty.get.phofst}><{/if}><{$base_qstr}>">
<{if $yd_action!=1 && $yd_action!=4}>
	<select name="action" id="action">
	<option value="0"><{$smarty.const._MD_CATEGORY_NOSELECTED}></option>
	<{if $mod_config.photo_useinfo==1}>
		<option value="1"><{$smarty.const._MD_EDIT_PINFO}></option>
	<{/if}>
	<option value="2"><{$smarty.const._MD_LROTATE}></option>
	<option value="3"><{$smarty.const._MD_RROTATE}></option>
	<option value="4"><{$smarty.const._MD_PMOVE}></option>
	<option value="5"><{$smarty.const._MD_T_DEL}></option>
	</select>
<{else}>
	<input type="hidden" name="action" value="4" />
<{/if}>
<input type="submit" name="phandle" value="<{$smarty.const._MD_SUBMIT}>" onClick="d3diary_pmanage_confirm();return false;"/>

<{/if}>
<div class="itemBody">
<div class="PhotoBox">
<{if $yd_action!=1 && $yd_action!=4}>
	<{foreach from=$yd_photolist key="num" item="entry" name="list"}>
   		<{if $entry|@count==1}>
   		 <div class="d3dPhotoCenter" style="margin:6px;">
   		<{else}>
   		 <div class="d3dPhotoLeft" style="margin:6px;">
   		<{/if}>
		<a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.thumbnail}>" /></a>
	  	<{if $yd_uid<=0 || $yd_param.friend==1}><br /><a href="<{$urluppr}>page=photolist&amp;req_uid=<{$entry.uid}><{$qstr4ex_fr}>">
	  	<{if $mod_config.use_name==1 && $entry.name}><{$entry.name}>
	  	<{else}><{$entry.uname}>
	  	<{/if}></a>
	  	<{/if}>
	  	<br /><{$entry.tstamp|formatTimestamp:'Y-m-d H:i'}><{if $yd_editperm}>&nbsp;<input type='checkbox' name='psel[]' value='<{$entry.pid}>::<{$entry.pname}>' /><{/if}>
	  	<br /><a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=detail&amp;bid=<{$entry.bid}>&amp;req_uid=<{$entry.uid}><{$base_qstr}>"><{$entry.title}></a>
	  	<br /><{$entry.info}>
	  	</div>
	<{/foreach}>
<{elseif $yd_action==1}>
	<{foreach from=$yd_photolist key="num" item="entry" name="list"}>
   		<div class="d3dPhotoCenter" style="margin:6px; text-align:left;" >
 		<a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.thumbnail}>" /></a>
		<{if $yd_editperm}>
			<input type='hidden' name='psel[]' value='<{$entry.pid}>::<{$entry.pname}>' />
			<{if $mod_config.photo_useinfo==1}>
				<textarea name='pvinfo[]' rows="5" cols="50"><{$entry.pinfo}></textarea>
			<{/if}>
			<input type='hidden' name='action' value='11' />
		<{/if}>
	  	</div>
	<{/foreach}>
<{elseif $yd_action==4}>
	<{foreach from=$yd_photolist key="num" item="entry" name="list"}>
   		<{if $entry|@count==1}>
   		 <div class="d3dPhotoCenter" style="margin:6px;">
   		<{else}>
   		 <div class="d3dPhotoLeft" style="margin:6px;">
   		<{/if}>
		<a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.pname}>" target="_blank">
		<img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$entry.thumbnail}>" /></a>
		<br />bid<input type="text" name="bids[]" value="<{$entry.bid}>" size="6"/>
		<{if $yd_editperm}>
			<input type='hidden' name='psel[]' value='<{$entry.pid}>::<{$entry.pname}>' />
			<input type='hidden' name='action' value='41' />
		<{/if}>
	  	</div>
	<{/foreach}>
<{/if}>
<div class="clear"></div>
</div><!-- /PhotoBox -->
</div><!-- /itemBody -->

</form>
<{/if}><!-- enf if yd_photolist -->

<{if $yd_uid>0}>
</div>
</div>

<{if $yd_pagenavi}>
<div class="boxNavi" style="text-align:center;">
<{$lang_datanum}><br /><br />
<ul class="itemBody">
<{foreach from=$yd_pagenavi item=nav_}>
<li class=<{$nav_.class}>><span>
<{if $nav_.url}><a href="<{$nav_.url}>" title="go to page <{$nav_.txt}>"><{$nav_.txt}></a>
<{else}>
<{$nav_.txt}>
<{/if}>
</span></li>
<{/foreach}>
</ul><!-- /itemIBody -->
</div><!-- /boxNavi -->
<{/if}>

<{if $yd_layout=="left"}>
  <div id="d3dSideLeft">
  <{include file="db:`$mydirname`_rightarea.html"}>
  </div><!-- /d3dSidexxxx --> 
<{elseif $yd_layout=="right"}>
  <div id="d3dSideRight">
  <{include file="db:`$mydirname`_rightarea.html"}>
  </div><!-- /d3dSidexxxx --> 
<{/if}>

</div><!-- /d3dWrap --> 
<{/if}>
<div class="clear"></div>

<{include file='db:system_notification_select.html'}>

<script type="text/javascript">
<!--

function d3diary_pmanage_confirm() {
	if(document.getElementById('action').value==5){
		if(window.confirm('<{$smarty.const._MD_PHOTO}> <{$smarty.const._MD_FILEDEL_CONFIRM}>')==true){
			document.fm1.phandle();
		}
	} else if(document.getElementById('action').value==2 || document.getElementById('action').value==3){
		if(window.confirm('<{$smarty.const._MD_PHOTO}> <{$smarty.const._MD_ROTATE_CONFIRM}>')==true){
			document.fm1.phandle();
		}
	} else {
			document.fm1.phandle();
	}
}

//-->
</script>
