<!-- start module blocks -->
<div class="<{$block.mydirname}>itemSide" style="border:0px ;">
<div class="item" style="border:0px ;">
<div class="itemInfo" style="text-align:center;">
<a href="<{$block.base_url}>year=<{$block.yd_prev_year}>&amp;month=<{$block.yd_month}>" title="<{$block.yd_prev_year}>-<{$block.yd_cal_month}>">&lt;&lt;</a>&nbsp;
<a href="<{$block.base_url}>year=<{$block.yd_year}>&amp;month=<{$block.yd_month}>"><{$block.yd_year}>-<{$block.yd_cal_month}><{$block.lang.title}></a>&nbsp;
<a href="<{$block.base_url}>year=<{$block.yd_next_year}>&amp;month=<{$block.yd_month}>" title="<{$block.yd_next_year}>-<{$block.yd_cal_month}>">&gt;&gt;</a>
</div><!-- /itemInfo -->
<div class="<{$block.mydirname}>d3dCalender">
<table class="outer" style="text-align:center;">
<{$block.yd_calender}>
</table>
</div><!-- /d3dCalender -->
</div><!-- /item -->
</div><!-- /itemSide -->
