<{if $mod_config.show_breadcrumbs}>
<div id="d3d_breadcrumbs">
	<a href="<{$xoops_url}>/">TOP</a>
	<{foreach from=$xoops_breadcrumbs key="i" item="item"}>
	    <{* if $i!=0 *}>
		&nbsp;>&nbsp;
		<{if $item.url}>
			<a href="<{$item.url}>"><{$item.name}></a>
		<{else}>
			<{$item.name}>
		<{/if}>
	    <{* /if *}>
	<{/foreach}>
</div>
<{/if}>

<!-- start module contents -->
<div class="item" style="border:0px ;">
	<p><a href="<{$xoops_url}>/userinfo.php?uid=<{$yd_uid}>">
	<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
	<{else}><{$yd_uname}>
	<{/if}></a><{$smarty.const._MD_DIARY_PERSON}>
</p>
<div class="itemInfo" style="text-align:left;">
<div style="text-align:right;">
	<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/open<{$yd_openarea}>.gif" border=0 style="float:right;" />
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}><{$base_qstr}>" title="<{$smarty.const._MD_NEWDIARY}>" class="d3dlinkEntry" style="float:left;" ></a>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=photolist&amp;req_uid=<{$yd_uid}><{$base_qstr}>" class="d3dlinkImage" title="<{$smarty.const._MD_NEWPHOTO}>" style="float:left;" ></a>
</div>
<{if $yd_day>0}>[<{$yd_year}>-<{$yd_month}>-<{$yd_day}>]&nbsp;
<{elseif $yd_month>0}>[<{$yd_year}>-<{$yd_month}>]&nbsp;<{/if}>
<{if $yd_param.mode=="category"}><{$smarty.const._MD_CATEGORY}>&nbsp;[<{$yd_param.cname}>]&nbsp;<{/if}>
<{if $yd_param.tag}><{$smarty.const._MD_TAG}>&nbsp;[<{$yd_param.tag}>]&nbsp;<{/if}>
</div><!-- /itemInfo -->
</div><!-- /item -->

<div id="d3dWrap">
<div class="clear"></div>
<{if $yd_layout=="left"}>
  <div id="d3dMainRight">
  <div id="d3dMainBodyRight">
<{elseif $yd_layout=="right"}>
  <div id="d3dMainLeft">
  <div id="d3dMainBodyLeft">
<{else}>
  <div id="d3dMainNoside">
  <div id="d3dMainBodyNoside">
<{/if}>

<div class="boxdate_base">
<span class="boxdate">
<div class="itemHead"><span class="itemTitle"><{$yd_data.year}><{* $smarty.const._MD_DATE_YEAR *}></span></div>
<div class="itemInfo"><span class="itemText"><{$yd_data.b_month}><{ *$smarty.const._MD_DATE_MONTH *}></span>
<span class="<{$yd_data.dclass}>"><{$yd_data.day}><{* $smarty.const._MD_DATE_DAY *}></span></div>
<div class="itemHead"><span class="<{$yd_data.wclass}>">(<{$yd_data.week}>)</span></div>
<{* div class="itemFoot"><span class="itemText" *}><{$yd_data.time}><{* /span></div *}>
</span>
</div><!-- /boxdate_base -->

<div class="diaryHead">
<div class="item">

<div class="itemHead">
<span class="itemTitle">
<{$yd_data.title|escape}>
</span>
</div><!-- /itemHead -->

<div class="itemInfo">
<span class="itemPermaLink">
<{if $yd_before.bid >0}>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=detail&amp;bid=<{$yd_before.bid}>&req_uid=<{$yd_uid}><{$base_qstr}>" title="<{$yd_before.title}>">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow2.png" border=0 style="vertical-align:middle;" /><{$smarty.const._MD_DIARY_LAST}>
</a>
<{/if}>

<{if $yd_after.bid >0}>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=detail&amp;bid=<{$yd_after.bid}>&req_uid=<{$yd_uid}><{$base_qstr}>" title="<{$yd_after.title}>">
<{$smarty.const._MD_DIARY_NEXT}><img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 style="vertical-align:middle;" />
</a>
<{/if}>
</span>
</div><!-- /itemInfo -->

<div class="itemBody">
<{$smarty.const._MD_CATEGORY}>&nbsp;
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>&amp;mode=category&amp;cid=<{$yd_data.cid}>">
<{$yd_data.cname}></a>

<{if $mod_config.use_tag>0}>
<br />
<{$smarty.const._MD_TAG}>&nbsp;
<{foreach from=$bTagArr item=tags}>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>&amp;tag_name=<{$tags.tag_urlenc}>" style="font-size:<{$tags.size}>%"><{$tags.tag}></a> 
<{/foreach}>
<{/if}>
</div><!-- /itemBody -->

</div> <!--end item -->
</div> <!--end itemList -->
<div class="clear"></div>

<div class="itemDiary">
<div class="item">

<div class="itemInfo" style="text-align:left;">
<{$smarty.const._MD_DIARY_TEXT}>
</div><!-- /itemInfo -->

<div class="itemBody">
<div class="itemText">
<{$yd_data.diary}>
<br />
</div><!-- /itemText -->
<{if $yd_photo.0.pid|count_characters>0}>
<div class="PhotoBox">
 <{foreach from=$yd_photo key="num" item="photo" name="list"}>
   <{if $yd_photo|@count==1}>
    <div class="d3dPhotoCenter">
   <{elseif ($yd_photo|@count==2)&&$num==1}>
    <div class="d3dPhotoRight">
   <{else}>
    <div class="d3dPhotoLeft">
   <{/if}>
  <a href="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$photo.pname}>" target="_blank">
  <img src="<{$xoops_url}>/modules/<{$mydirname}>/upimg/<{$photo.thumbnail}>" style="border:1px solid gray;" title="<{$smarty.const._MD_PHOTO}><{$num+1}>"/></a>
  <{* <p><{$smarty.const._MD_PHOTO}><{$num+1}></p> *}>
  <{if $mod_config.photo_useinfo==1 && $photo.info}><p><{$photo.info}></p><{/if}>
  </div>
  <{* <{if $num==2 || $num==5 }><div class="clear"></div><{/if}> *}>
  <{* <{if $num==1 || $num==3 || $num==5 || $num==7 }><div class="clear"></div><{/if}> *}>
<{/foreach}>
</div><!-- /PhotoBox -->

<br/>
<div class="clear"></div>
<{/if}>
</div><!-- /itemBody -->

<div class="itemFoot">
<span class="itemPermaLink">

<{* <{attachfile_attach_download dirname=attachfile target_id=$yd_data.bid}>&nbsp;|&nbsp; *}>

<{if $yd_editperm==1}>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=edit&amp;bid=<{$yd_data.bid}><{if $yd_owner!=1}>&amp;req_uid=<{$yd_uid}><{/if}>">
<{$smarty.const._MD_T_EDIT}></a>&nbsp;|&nbsp;
<{/if}>
<{$smarty.const._MD_T_VIEW}>(<{$yd_data.view}>)
</span>
</div><!-- /itemFoot -->

</div> <!--end item -->
</div> <!--end itemDiary -->

<!-- start comment area -->
<div class="d3d_d3com">
<{if $mod_config.comment_dirname}>
	<a name="comment"></a>
	<{d3comment mydirname=$mydirname id=$yd_data.bid subject=$yd_data.title class="d3diaryD3commentContent" posts_num=$mod_config.comment_posts_num}>
<{else}>
	<a name="viewcomment"></a>
  <{if $mod_config.use_simplecomment == 0}>
	<{$commentsnav}>
	<center><{$lang_notice}></center>
	<{if $comment_mode == "flat"}>
	  <{include file="db:system_comments_flat.html"}>
	<{elseif $comment_mode == "thread"}>
	  <{include file="db:system_comments_thread.html"}>
	<{elseif $comment_mode == "nest"}>
	  <{include file="db:system_comments_nest.html"}>
	<{/if}>

  <{else}>
	<{if $comments.0.id >0}>
	<table class="outer"><tr><th>
	<{$smarty.const._MD_CATEGORY}>
	</th></tr><tr><td>
	<div style="margin: 1px; padding: 1px;">
	<!-- start comments loop -->
	<{include file="db:system_comments_flat.html"}>
	<!-- end comments loop -->
	</div>
	</td></tr></table>
	<br />
	<{/if}>
	<!-- start comment form -->
	<table class="outer"><tr><th>
	<{$smarty.const._MD_COM_WRITE}>
	</th></tr><tr><td>
	<{if $xoops_isuser==1}>
	<{$yr_comment_form}>
	<{else}>
	<{$smarty.const._MD_COM_HOWTOWRITE1}><a href="<{$xoops_url}>/user.php"><{$smarty.const._MD_COM_HOWTOWRITE2}></a><{$smarty.const._MD_COM_HOWTOWRITE3}><br />
	<{/if}>
	</td></tr></table>
	<!-- end comment form -->
	<!-- end comment area -->
  <{/if}>
<{/if}>
</div><!-- /d3d_d3com -->
</div>
</div>

<{if $yd_layout=="left"}>
  <div id="d3dSideLeft">
  <{include file="db:`$mydirname`_rightarea.html"}>
  </div><!-- /d3dSidexxxx --> 
<{elseif $yd_layout=="right"}>
  <div id="d3dSideRight">
  <{include file="db:`$mydirname`_rightarea.html"}>
  </div><!-- /d3dSidexxxx --> 
<{/if}>

</div><!-- /d3dWrap --> 
<div class="clear"></div> 

<{include file='db:system_notification_select.html'}>

<{if $debug_time}>
 <{foreach from=$debug_time item="debug"}>
	<{$debug.time}>:<{$debug.caller}><br />
 <{/foreach}>
<{/if}>
