<!-- start right block contents -->
<div class="itemSide">

<{if $mod_config.use_avatar && $yd_avaterurl}>
<div class="item">
<div class="itemHead">
<{$smarty.const._MD_AVATAR}>
</div><!-- /itemHead -->
<div class="itemBody" style="text-align:center;">
<img src="<{$yd_avaterurl}>">
</div><!-- /itemBody -->
</div><!-- /item -->
<{/if}>

<{if $yd_owner==1 && $yd_editperm==1}>
<div class="item">
<div class="itemHead">
<{$smarty.const._MD_SETTING}><{$smarty.const._MD_T_EDIT}>
</div><!-- /itemHead -->
<div class="itemBody">
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=usr_config">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 />
<{$smarty.const._MD_T_TOTAL}><{$smarty.const._MD_T_EDIT}>
</a>
<br />
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=editcategory">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 />
<{$smarty.const._MD_CATEGORY}><{$smarty.const._MD_T_EDIT}>
</a>
<br />
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=edit">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/pencil.gif" border=0 />
<{$smarty.const._MD_NEWENTRY}>
</a>
<br />
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=mailpost">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 />
<{$smarty.const._MD_MAIL_OPENMANUAL}>
</a>
</div><!-- /itemBody -->
</div><!-- /item -->
<{/if}>

<div class="item">
<div class="itemHead" style="text-align:center;">
<span class="itemTitle">
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>&amp;mode=month&amp;year=<{$yd_param.prev_year}>&amp;month=<{$yd_param.month}>" title="<{$yd_param.prev_year}>-<{$yd_param.month}>">&lt;&lt;</a>&nbsp;
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>&mode=month&year=<{$yd_param.year}>&month=<{$yd_param.month}>"><{$yd_param.year}>-<{$yd_cal_month}></a>&nbsp;
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>&amp;mode=month&amp;year=<{$yd_param.next_year}>&amp;month=<{$yd_param.month}>" title="<{$yd_param.next_year}>-<{$yd_param.month}>">&gt;&gt;</a>
</span>
</div><!-- /itemHead -->
<div class="d3dCalender">
<table class="outer" style="text-align:center;">
<{$yd_calender}>
</table>
</div><!-- /d3dCalender -->
</div><!-- /item -->

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_CATEGORY}>
</div><!-- /itemHead -->
<div class="itemBody">
<ul class="yd_rightarea">
<{section name=num loop=$catopt}>
   <{if $catopt[num].cid<=10000}>
	<li<{if $catopt[num].subcat==1}> style="margin-left:12px !important;"<{/if}>>
	<{if $catopt[num].blogtype>0 && $catopt[num].cid>0}>
	<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/door_out.gif" border=0 style="vertical-align:middle;" /> 
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=other&amp;req_uid=<{$yd_uid}>&amp;cid=<{$catopt[num].cid}>"><{$catopt[num].cname}></a>
	<{else}>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?<{if $smarty.get.page=="photolist"}>page=photolist&amp;<{/if}>req_uid=<{$yd_uid}>&amp;mode=category&amp;cid=<{$catopt[num].cid}>"><{$catopt[num].cname}>(<{$catopt[num].num}>)</a>
	<{/if}>
	</li>
   <{/if}>
<{/section}>
<hr />
<{section name=num loop=$catopt}>
   <{if $catopt[num].cid>10000}>
	<li<{if $catopt[num].subcat==1}> style="margin-left:12px !important;"<{/if}>>
	<{if $catopt[num].blogtype>0}>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=other&amp;req_uid=<{$yd_uid}>&amp;cid=<{$catopt[num].cid}>"><{$catopt[num].cname}></a>
	<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/door_out.gif" border=0 style="vertical-align:middle;" /> 
	<{else}>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?<{if $smarty.get.page=="photolist"}>page=photolist&amp;<{/if}>req_uid=<{$yd_uid}>&amp;mode=category&amp;cid=<{$catopt[num].cid}>"><{$catopt[num].cname}>(<{$catopt[num].num}>)</a>
	<{/if}>
	</li>
   <{/if}>
<{/section}>
</ul>
</div><!-- /itemBody -->
<{if $yd_owner==1 && $yd_editperm==1}>
<div class="itemFoot">
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=editcategory">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 style="vertical-align:middle;" />
<{$smarty.const._MD_CATEGORY_EDIT}></a>
</div><!-- /itemFoot -->
<{/if}>
</div><!-- /item -->

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_PAGE_ACCESS}>
</div><!-- /itemHead -->
<div class="itemBody">
<{$yd_counter}> / <{$smarty.const._MD_T_TOTAL}>
</div><!-- /itemBody -->
</div><!-- /item -->

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_DIARY_RECENT}>
</div><!-- /itemHead -->
<div class="itemBody">
<ul class="yd_rightarea">
<{section name=num loop=$yd_list max=7}>
<li>
<{if $yd_list[num].other==1}>
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/door_out.gif" border=0 style="vertical-align:middle;" /> 
<a href="<{$yd_list[num].url}>" target="_blank"><{$yd_list[num].title}></a>
<{else}>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=detail&amp;bid=<{$yd_list[num].bid}>&req_uid=<{$yd_uid}>"><{$yd_list[num].title}></a>
<{/if}>
</li>
<{/section}>
</ul>
</div><!-- /itemBody -->
<div class="itemFoot">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 style="vertical-align:middle;" /> <a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>"><{$smarty.const._MD_MORE}></a>
</div><!-- /itemFoot -->
</div><!-- /item -->

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_COM_RECENT}>
</div><!-- /itemHead -->
<div class="itemBody">
<ul class="yd_rightarea">
	<{section name=num loop=$yd_comment max=7}>
	<li>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=detail&amp;bid=<{$yd_comment[num].bid}><{$yd_com_key}><{$yd_comment[num].unique_path}>"><{$yd_comment[num].title}></a>
	<{if $mod_config.use_name==1 && $yd_comment[num].name}><{$yd_comment[num].name}>
	<{else}><{$yd_comment[num].uname}>
	<{/if}>[<{$yd_comment[num].datetime|formatTimestamp:'m-d H:i'}>]
	</li>
	<{/section}>
	</ul>
</div><!-- /itemBody -->
<div class="itemFoot">	<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 style="vertical-align:middle;" />
	 <a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=viewcomment&amp;req_uid=<{$yd_uid}>"><{$smarty.const._MD_COMMENT_LIST}></a>
</div><!-- /itemFoot -->
</div><!-- /item -->

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_DATE_EACHMONTH}><{$smarty.const._MD_DIARY_TITLENAME}>
</div><!-- /itemHead -->
<div class="itemBody">
<ul class="yd_rightarea">
<{section name=num loop=$yd_monlist}>
	<li>
	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_uid}>&amp;mode=month&amp;year=<{$yd_monlist[num].year}>&amp;month=<{$yd_monlist[num].month}>">
	<{$yd_monlist[num].year}><{$smarty.const._MD_DATE_YEAR}><{$yd_monlist[num].month}><{$smarty.const._MD_DATE_MONTH}>
	</a>(<{$yd_monlist[num].count}>)
</li>
<{/section}>
</ul>
</div><!-- /itemBody -->
<{if $yd_monthnavi}>
<div class="itemInfo" style="text-align:center;">
<{$yd_monthnavi}>
</div><!-- /itemInfo -->
<{/if}>
</div><!-- /item -->

<{if $yd_friends}>
<div class="item">
<div class="itemHead">
<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
	<{else}><{$yd_uname}>
	<{/if}><{$smarty.const._MD_DIARY_FRIENDS}>
</div><!-- /itemHead -->
<div class="itemBody">
<ul class="yd_rightarea">
<{section name=num loop=$yd_friends}>
<li>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$yd_friends[num].uid}>">
<{if $mod_config.use_name==1 && $yd_friends[num].name}><{$yd_friends[num].name}>
	<{else}><{$yd_friends[num].uname}>
	<{/if}></a>(<{$yd_friends[num].count}>)
</li>
<{/section}>
</ul>
</div><!-- /itemBody -->
<{if $yd_friendsnavi}>
<div class="itemInfo" style="text-align:center;">
<{$yd_friendsnavi}>
</div><!-- /itemInfo -->
<{/if}>
<div class="itemFoot">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/arrow1.png" border=0 style="vertical-align:middle;" /> <a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?mode=friends&req_uid=<{$yd_uid}>"><{$smarty.const._MD_DIARY_FRIENDSVIEW}></a>
</div><!-- /itemFoot -->
</div><!-- /item -->
<{/if}>

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_RSS_LINK}>
</div><!-- /itemHead -->
<div class="itemBody" style="text-align:center;">
<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
	<{else}><{$yd_uname}>
	<{/if}><{$smarty.const._MD_DIARY_PERSON}><br />
<a href="<{$xoops_url}>/modules/<{$mydirname}>/rdf.php?uid=<{$yd_uid}>&amp;cid=<{$yd_cid}>&amp;ver=atom">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/rssatom.png" border=0 />
</a><br />
<a href="<{$xoops_url}>/modules/<{$mydirname}>/rdf.php?uid=<{$yd_uid}>&amp;cid=<{$yd_cid}>&amp;ver=rss1">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/rss10.png" border=0 />
</a><br />
<a href="<{$xoops_url}>/modules/<{$mydirname}>/rdf.php?uid=<{$yd_uid}>&amp;cid=<{$yd_cid}>&amp;ver=rss2">
<img src="<{$xoops_url}>/modules/<{$mydirname}>/images/rss20.png" border=0 />
</a><br />
</div><!-- /itemBody -->
</div><!-- /item -->

</div><!-- /itemSide -->

<{*	<{xugj_block file=modules/$mydirname/blocks/b_bloggerlist.php func="b_bloggerlist_show" item="b_lists"}>

<div class="item">
<div class="itemHead">
<{$smarty.const._MD_POSTER_LIST}>
</div><!-- /itemHead -->
<div class="itemBody">
	<{foreach item=blogger from=$b_lists}>
	  	<a href="<{$xoops_url}>/modules/<{$mydirname}>/index.php?req_uid=<{$blogger.uid}>"><{$blogger.uname}></a>
	<{/foreach}>
</div><!-- /itemBody -->
</div><!-- /item -->
*}>
