<h1><{$myname}><span style="padding-left:2em"><{$smarty.const._MD_D3DIARY_LANG_PERMISSION_MANAGER}></span></h1>
<h2 class="head"><{$smarty.const._MD_D3DIARY_LANG_CATEGORY_NAME}> : <{$category_name}></h2>
<form name="groupperms" action="" method="post" style="margin:20px 0px">
	<{$gticket_hidden}>
	<input type="hidden" name="cid" value="<{$cid}>" />
	<table class="outer" border="1" style="border-collapse:collapse;empty-cells:show">
		<thead>
			<tr>
				<th style="padding:5px;font-weight:bold"><{$smarty.const._MD_D3DIARY_LANG_GROUP_NAME}>
<{foreach from=$gperm_config item=gperm_name key=gperm_term name=configloop}>
				<th style="padding:5px;font-weight:bold;text-align:center;"><{$smarty.const.$gperm_name}>
					<span style="display:block;text-align:center;"><input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_<{$smarty.foreach.configloop.iteration}>_')>=0){elements[i].checked=this.checked;}}}"></span>
<{/foreach}>
		</thead>
		<tbody>
<{foreach from=$group_list item=gname key=gid}>
			<tr class="<{cycle values='odd,even'}>">
				<td style="text-align:center;"><{$gname}>
				<span style="display:block;text-align:center;"><input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('_gid<{$gid}>_')>=0){elements[i].checked=this.checked;}}}"></span>
	<{foreach from=$groupperms[$cid][$gid].perms item=gperm_value key=gperm_name name=gpermloop}>
				<td style="text-align:center;">
		<{if $gid eq 3 and ($gperm_name eq "allow_edit" or $gperm_name eq "allow_html" or $gperm_name eq "allow_regdate" or $gperm_name eq "allow_mailpost" or $gperm_name eq "allow_gpermission" or $gperm_name eq "allow_ppermission")}>

				<input type="hidden" name="<{$gperm_name}>[<{$gid}>]" id="gcol_<{$smarty.foreach.gpermloop.iteration}>_gid<{$gid}>_" value="0" />
		<{else}>
				<input type="checkbox" name="<{$gperm_name}>[<{$gid}>]" id="gcol_<{$smarty.foreach.gpermloop.iteration}>_gid<{$gid}>_" value="1"<{if $gperm_value}> checked="checked"<{/if}> />
		<{/if}>
	<{/foreach}>
<{/foreach}>
		</tbody>
	</table>
	<input type="submit" name="gperm_renew" value="<{$smarty.const._SUBMIT}>" />
</form>