<{* 
This template is included by usr_config.html and ****
*}>

<option value="0"><{$smarty.const._MD_CONF1_THIS}></option>
<option <{if $yd_cfg.blogtype==1}>selected<{/if}> value="1"><{$smarty.const._MD_CONF1_1RAKTEN}></option>
<option <{if $yd_cfg.blogtype==2}>selected<{/if}> value="2"><{$smarty.const._MD_CONF1_2HATENA}></option>
<option <{if $yd_cfg.blogtype==3}>selected<{/if}> value="3"><{$smarty.const._MD_CONF1_3DRECOM}></option>
<option <{if $yd_cfg.blogtype==4}>selected<{/if}> value="4"><{$smarty.const._MD_CONF1_4YABLOG}></option>
<option <{if $yd_cfg.blogtype==5}>selected<{/if}> value="5"><{$smarty.const._MD_CONF1_5KITAGUNI}></option>
<option <{if $yd_cfg.blogtype==6}>selected<{/if}> value="6"><{$smarty.const._MD_CONF1_6LIVEDOOR}></option>
<option <{if $yd_cfg.blogtype==7}>selected<{/if}> value="7"><{$smarty.const._MD_CONF1_7DOBLOG}></option>
<option <{if $yd_cfg.blogtype==8}>selected<{/if}> value="8"><{$smarty.const._MD_CONF1_8EXCITE}></option>
<option <{if $yd_cfg.blogtype==9}>selected<{/if}> value="9"><{$smarty.const._MD_CONF1_9JUGEM}></option>
<option <{if $yd_cfg.blogtype==10}>selected<{/if}> value="10"><{$smarty.const._MD_CONF1_10SEESAA}></option>
<option <{if $yd_cfg.blogtype==11}>selected<{/if}> value="11"><{$smarty.const._MD_CONF1_11MT}></option>
<option <{if $yd_cfg.blogtype==12}>selected<{/if}> value="12"><{$smarty.const._MD_CONF1_12GOO}></option>
<option <{if $yd_cfg.blogtype==13}>selected<{/if}> value="13"><{$smarty.const._MD_CONF1_13AOL}></option>
<option <{if $yd_cfg.blogtype==14}>selected<{/if}> value="14"><{$smarty.const._MD_CONF1_14AMEBA}></option>
<option <{if $yd_cfg.blogtype==15}>selected<{/if}> value="15"><{$smarty.const._MD_CONF1_15FC2}></option>
<option <{if $yd_cfg.blogtype==16}>selected<{/if}> value="16"><{$smarty.const._MD_CONF1_16BLOGG}></option>
<option <{if $yd_cfg.blogtype==17}>selected<{/if}> value="17"><{$smarty.const._MD_CONF1_17COCOLOG}></option>
<option <{if $yd_cfg.blogtype==18}>selected<{/if}> value="18"><{$smarty.const._MD_CONF1_18SONET}></option>
<option <{if $yd_cfg.blogtype==19}>selected<{/if}> value="19"><{$smarty.const._MD_CONF1_19YAHOO}></option>
<option <{if $yd_cfg.blogtype==100}>selected<{/if}> value="100"><{$smarty.const._MD_CONF1_100OTHER}></option>

