<!-- start module contents -->

<script type="text/javascript">
<!--

// check input data
function inputchk(fm) {
	var errmsg="";
	if ( fm.blogtype.value != '0' && fm.blogurl.value == "") {
		alert("\n<{$smarty.const._MD_CONF_ALT0}>");
		return false;
	} else if ( fm.blogtype.value == '100' && fm.rss.value == "") {
		alert("\n<{$smarty.const._MD_CONF_ALT100}>");
		return false;
	} else {
		return true;
	}
}

//-->
</script>

<{if $mod_config.show_breadcrumbs}>
<div id="d3d_breadcrumbs">
	<a href="<{$xoops_url}>/">TOP</a>
	<{foreach from=$xoops_breadcrumbs key="i" item="item"}>
	    <{* if $i!=0 *}>
		&nbsp;>&nbsp;
		<{if $item.url}>
			<a href="<{$item.url}>"><{$item.name}></a>
		<{else}>
			<{$item.name}>
		<{/if}>
	    <{* /if *}>
	<{/foreach}>
</div><br/>
<{/if}>

<{if $yd_uid>0}>
<p>	<{if $mod_config.use_name==1 && $yd_name}><{$yd_name}>
	<{else}><{$yd_uname}>
	<{/if}><{$smarty.const._MD_DIARY_PERSON}>-><{$smarty.const._MD_CONF_LINK}></p>
<br/>
<{/if}>

<form name="fm1" method='POST' action='index.php?page=usr_config' onsubmit="return inputchk(this)">
<table class="outer" cellspacing="1">

<tr>
<th colspan=2>
<table style="border:0;margin:0;padding:0;"><tr>
<td><{$smarty.const._MD_CONF_LINK}></td><td style="text-align:right;"><img src="images/open<{$yd_cfg.openarea}>.gif" border=0 /></td>
</tr></table>
</th>
</tr>

<tr><td>
<strong><{$smarty.const._MD_CONF_KEEPINDEX}></strong>
</td><td><p>
<select name="jump">
<option <{if $yd_cfg.jump==0}>selected<{/if}> value="0"><{$smarty.const._MD_CONF5_INDEXUSE}></option>
<option <{if $yd_cfg.jump==1}>selected<{/if}> value="1"><{$smarty.const._MD_CONF5_INDEXNOUSE}></option>
</select>
<br />
<{$smarty.const._MD_CONF_KEEPINDEXDESC}><br /><br /></p>
</td></tr>

<tr><td>
<strong><{$smarty.const._MD_CONF_BSELECT}></strong>
</td><td>

<select name="blogtype">
<{include file="db:`$mydirname`_inc_blog_options.html"}>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<select name="openarea">
<option value="0"><{$smarty.const._MD_CONF2_OPEN}></option>
<option <{if $yd_cfg.openarea==1}>selected<{/if}> value="1"><{$smarty.const._MD_CONF2_1OLOSE}></option>
<{if $yd_use_friend>=1}><option <{if $yd_cfg.openarea==3}>selected<{/if}> value="3"><{$smarty.const._MD_CONF2_3FRIEND2}></option><{/if}>
<{if $yd_use_friend>=1}><option <{if $yd_cfg.openarea==2}>selected<{/if}> value="2"><{$smarty.const._MD_CONF2_2FRIEND}></option><{/if}>
<option <{if $yd_cfg.openarea==100}>selected<{/if}> value="100"><{$smarty.const._MD_CONF2_100HIDE}></option>
</select>
<br />

<{$smarty.const._MD_CONF_BSELECTDESC}><br /><br />
</td></tr>

<tr><td>
<strong><{$smarty.const._MD_CONF_BURL}></strong>
</td><td>
<input type="text" name="blogurl" size="45" value="<{$yd_cfg.blogurl}>" />
<br />
<{$smarty.const._MD_CONF_BURLDESC}>
<br />
<{$smarty.const._MD_EXAMPLE}>http://blogsample.com/<br /><br />
</td></tr>

<tr><td>
<strong><{$smarty.const._MD_CONF_RSSURL}></strong>
</td><td>
<input type="text" name="rss" size="45" value="<{$yd_cfg.rss}>" />
<br />
<{$smarty.const._MD_CONF_RSSURLDESC}>
<br />
<{$smarty.const._MD_EXAMPLE}>http://blogsample.com/index.rdf<br /><br />
</td></tr>

<{if $yd_mailpost==true}>
<tr><td>
<strong><{$smarty.const._MD_CONF_USEMAIL}></strong>
</td><td><p>
<select name="mailpost">
<option <{if $yd_cfg.mailpost==0}>selected<{/if}> value="0"><{$smarty.const._MD_CONF3_MAILNOUSE}></option>
<option <{if $yd_cfg.mailpost==1}>selected<{/if}> value="1"><{$smarty.const._MD_CONF3_MAILMANUAL}></option>
<option <{if $yd_cfg.mailpost==2}>selected<{/if}> value="2"><{$smarty.const._MD_CONF3_MAILAUTOMANUAL}></option>
<option <{if $yd_cfg.mailpost==3}>selected<{/if}> value="3"><{$smarty.const._MD_CONF3_MAILAUTO}></option>
</select>
<br />
<{$smarty.const._MD_CONF_USEMAILDESC}></p>
</td></tr>

<tr><td>
<strong><{$smarty.const._MD_CONF_MAILADDRESS}></strong>
</td><td><p>
<input type="text" name="address" size="45" value="<{$yd_cfg.address}>" />
<br />
<{$smarty.const._MD_CONF_MAILADDRESSDESC}></p>
</td></tr>

<tr><td><p>
<strong><{$smarty.const._MD_CONF_MAILUPTIME}></strong>
</td><td>
<select name="uptime">
<option <{if $yd_cfg.uptime==3600}>selected<{/if}> value="3600"><{$smarty.const._MD_CONF4_3600}></option>
<option <{if $yd_cfg.uptime==1800}>selected<{/if}> value="1800"><{$smarty.const._MD_CONF4_1800}></option>
<option <{if $yd_cfg.uptime==900}>selected<{/if}> value="900"><{$smarty.const._MD_CONF4_900}></option>
</select>
<br />
<{$smarty.const._MD_CONF_MAILUPTIMEDESC}></p>
</td></tr>
<{/if}>

<tr><td colspan=2 style="text-align:center;">
<input type=hidden name="referrer" value="<{$smarty.server.HTTP_REFERER}>"/>
<input type=submit name="submit1" value="<{$smarty.const._MD_SUBMIT}>"/>
</td></tr>

</table>
</form>

<{if $debug_time}>
 <{foreach from=$debug_time item="debug"}>
	<{$debug.time}>:<{$debug.caller}><br />
 <{/foreach}>
<{/if}>
